  
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FAFB;
    margin: 2.5em;
}

.top {
    font-weight: 600;
}

.tagline {
    margin-top: 1em;
    font-size: 5.5vw;
}

.nav {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;

    p {
        font-size: 1.2vw;
        margin: 0em 1em;
    }
    .work {
        font-weight: 600;;
    }
}

.name {
    margin-top: 5.5em;
    font-size: 2vw;

    p {
        margin: 1em 0em;
    }
}

.link{
    color: black;
    text-decoration: none;
}
.link2{
    color: white;
    text-decoration: none;
}

.social {
    margin-top: 2em;
    display: flex;
    font-size: 1.5vw;
   
    p{
        margin: 0em 1em;
    }
}

.projects {
    margin-top: 4em;
   img {
       width: 65vw;
       margin-top: 2em;
       margin-bottom: 2em;
   }
        .info {

            .text{
                position: absolute;
                margin-top: -35vw;
                margin-left: 51vw;
                color: white;
            }

            .text1 {
                font-size: 4vw;
                font-weight: 600;
            }
            .text2 {
                margin-top: 2vw;
                font-size: 1.7vw;
                font-weight: 300;
            }
            
        }

    }

.rectangle {
    position: absolute;
    width: 47vw;
    height: 22vw;
    margin-top: -40vw;
    margin-left: 48vw;

    rect {
        width: 47vw;
        height: 22vw;
    }
}

